body {
    margin: 0px;
    position: relative;
    overflow: hidden;
}

.svgmain {
    position: absolute;
    left: 51.25%;
    right: -10.1%;
    top: 24.51%;
    bottom: -1.79%;
    /* Width: 847.5px;
    Height: 791.33px; */
    /* Top 
251px
Left 
738px */
    /* Blend :Pass through */
}