* {
    margin: 0%;
    font-family: 'Dosis', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

:root {
    --blue: #ffffff;
    --white: #ffffff;
    --border_color: rgb(82, 82, 82);
    --font_color: rgb(0, 98, 255);
    --border_radius: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(0, 98, 255);
    /* border-radius: 10px; */
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(236, 236, 236);
}


/* .img_wave {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    left: 0px;
    position: absolute;
} */

body>svg {
    z-index: -1;
    left: 0px;
    position: absolute;
}

.container {
    /* display: none; */
    width: 90%;
    height: 90%;
    /* background-color: rgba(255, 255, 255, 0.727); */
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: var(--border_radius);
    display: flex;
}

.dash_left {
    flex: 1;
    /* border-radius: 5px 0px 0px 5px; */
    border-radius: var(--border_radius) 0px 0px var(--border_radius);
    /* background-color: #02225ccc; */
    /* background-color: #0099f0cc; */
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    /* color: white; */
    color: var(--font_color);
    /* backdrop-filter: blur(20px); */
    /* height: 100%; */
}

.dash_header {
    flex: 5;
    /* height: ; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blueviolet; */
}

.dashboard_name {
    flex: 1;
    font-size: 150%;
    padding-top: 10px;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0px 0px 2px 0px;
    /* border-color: rgba(255, 255, 255, 0.4); */
    border-color: var(--border_color);
    border-style: solid;
}

.record-details {
    flex: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    /* background-color: red; */
}

.dummy {
    flex: 6.2;
    overflow-y: scroll;
}

.dash_logout {
    cursor: pointer;
    flex: 0.8;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: flex-start; */
    border-width: 2px 0px 0px 0px;
    /* border-color: rgba(0, 0, 0, 0.4); */
    border-color: var(--border_color);
    border-style: solid;
}

.dash_logout:hover {
    color: white;
    background-color: #ff5858;
    border-radius: 0px 0px 0px 5px;
}

.dash_middle {
    flex: 2;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.camera {
    margin-top: 9px;
    /* color: white; */
    color: var(--font_color);
    text-align: center;
    flex: 4;
    width: 80%;
    height: 70%;
    background-color: rgb(36, 35, 35);
    border-radius: 5px;
}

.camera>img {
    width: 100%;
    height: 100%;
}

.cam_control {
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 2;
    width: 80%;
    height: 20%;
    /* background-color: rgb(4, 156, 55); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash_right {
    flex: 1;
    /* border-radius: 5px; */
    border-radius: 0px var(--border_radius) var(--border_radius) 0px;
    /* background-color: #035280; */
    /* color: white; */
    color: var(--font_color);
    /* background-color: #0099f0cc; */
    /* background-color: #0099f0cc; */
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    /* height: 100%; */
}

.addVideo {
    /* background-color: blue; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBtn {
    cursor: pointer;
    /* background-color: #0099f0; */
    background-color: rgb(229, 229, 229);
    padding: 10px;
    width: 47px;
    height: 40px;
    /* width: 25%;
    height: 25%; */
    text-align: center;
    font-size: 2rem;
    border-radius: 3px;
}

.record {
    width: 90%;
    /* min-height: 30px; */
    padding: 20px 5px;
    /* border-radius: 5px; */
    /* background-color: blue; */
    border: 2px solid;
    border-color: var(--border_color);
    border-width: 0px 0px 1px 0px;
    display: flex;
    justify-content: space-between;
}

.record-headding {
    position: sticky;
    top: 0px;
    padding: 15px 20px;
    /* width: 100%; */
    /* border-color: black; */
    /* background-color: #33adf3; */
    background-color: var(--blue);
    font-weight: bolder;
}

.record-headding>.gateNo {
    width: 10px;
}

.dashboard-div {
    padding: 20px 20px 20px 30px;
    /* width: 100%; */
    /* min-height: 50px; */
}

.dashboard-div:hover {
    cursor: pointer;
    background-color: #0099f0;
    color: white;
    /* min-height: 50px; */
}

.uploadButtonText {
    fill: var(--font_color);
}