.main3 {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
}

.all-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m3-left {
    flex: 60;
}

.m3-line {
    background-color: #0099ff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    flex: 1;
    width: 8px;
}

.m3-right {
    flex: 60;
}

.m3-steps {
    font-size: 1.2rem;
    height: 100vh;
    width: 100%;
}


/* .m3-step1 {
    background-color: red;
}

.m3-step2 {
    background-color: yellow;
}

.m3-step3 {
    background-color: orange;
}

.m3-step4 {
    background-color: cyan;
}

.m3-step5 {
    background-color: lightgrey;
}

.m3-step6 {
    background-color: plum;
}

.m3-step7 {
    background-color: lightgreen;
} */

.s-content {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    max-width: 400px;
}

.s-svg {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    max-width: 200px;
}

.ani-l {
    animation: slide-in-description-l 0.5s forwards ease;
}

.ani-r {
    animation: slide-in-description-r 0.5s forwards ease;
    transform: translate(500px, 0px);
}

.ani-svg {
    animation: slide-in-svg 0.5s forwards ease;
}

.ani-svg-r {
    animation: slide-in-svg reverse 0.5s forwards ease;
}

@keyframes slide-in-description-l {
    0% {
        opacity: 0;
        transform: translate(-500px, 0px);
    }
    80% {
        opacity: 0.9;
        transform: translate(50px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes slide-in-description-r {
    0% {
        opacity: 0;
        transform: translate(500px, 0px);
    }
    80% {
        opacity: 0.9;
        transform: translate(-50px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes slide-in-svg {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    80% {
        opacity: 0.9;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.m3-line>img {
    /* position: absolute; */
    position: sticky;
    top: 35vh;
    transform: translateX(-50%);
    /* transform: scale(0.3); */
}

.m3-steps {
    position: relative;
}

.arrow {
    transform: scale(0);
}

.animat {
    transform: scale(1)!important;
    animation: arrow-grow 0.5s ease-in-out forwards;
}

.m3-steps>.arrow {
    position: absolute;
    /* position: relative; */
    top: 50%;
    width: 0px;
    height: 6px;
    /* animation: arrow-grow 0.5s ease-in-out forwards; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: #0099ff;
}

.m3-steps>.arrow-l {
    right: 0px;
}

.m3-steps>.arrow-r {
    left: 0px;
    z-index: -1;
}

@keyframes arrow-grow {
    0% {
        width: 0px;
    }
    80% {
        width: 120px;
    }
    100% {
        width: 100px;
    }
}

.arrow>img {
    height: 40px;
    position: absolute;
    top: -17px;
    /* left: -10px; */
    /* right: 0px;s */
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.4));
}

.arrow>.img-l {
    transform: scaleX(-1);
    left: -10px;
}

.arrow>.img-r {
    right: -10px;
}

.cir {
    border-radius: 100%;
}

.circle-animation {
    animation: cir-grow 0.5s forwards ease-in-out;
}

@keyframes cir-grow {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.circ1-l {
    position: absolute;
    top: -49px;
    height: 99px;
    width: 99px;
    background-color: hsl(204, 100%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.circ2-l {
    height: 66px;
    background-color: hsl(204, 100%, 55%);
    width: 66px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    align-items: center;
}

.circ3-l {
    height: 33px;
    width: 33px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: hsl(204, 100%, 60%);
}

.circ1-l-left {
    right: -54px;
}

.circ1-l-right {
    left: -54px;
}