body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgba(40, 167, 234, 1);
    /* border-radius: 10px; */
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

body>svg {
    z-index: -1;
    right: 0px;
    position: absolute;
}

.main {
    height: 80vh;
}

.heading {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.head-main {
    font-size: 3rem;
}

.tagline {
    font-size: 1.5rem;
}

.main-svg {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-svg>svg {
    transform: scale(1.3);
}

.navbar {
    width: 100vw;
    height: 20vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    flex: 1;
    /* background-color: blue; */
    margin: 0% 1%;
}

.navbar_list {
    flex: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    /* justify-content: space-evenly; */
}

.How_it_works {
    /* background-color:red ; */
    margin: 0% 2%;
}

.About {
    /* background-color:blue ; */
    margin: 0% 2%;
}

.contact {
    /* background-color:blueviolet ; */
    margin: 0% 2%;
}

.login {
    flex: 1;
    /* background-color: rgb(196, 241, 255); */
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.login_btn {
    background-color: rgb(196, 241, 255);
    /* background-color: rgb(156, 98, 26); */
    height: 2.2rem;
    width: 5rem;
    line-height: 2.1rem;
    text-align: center;
    border-radius: 10px;
}