body {
    margin: 0px;
    font-family: 'Dosis', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgba(40, 167, 234, 1);
    /* border-radius: 10px; */
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: hsl(201, 82%, 40%);
}

body>svg {
    z-index: -1;
    right: 0px;
    position: absolute;
}

.main {
    height: 80vh;
}

.heading {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.head-main {
    font-size: 3rem;
}

.tagline {
    font-size: 1.5rem;
}

.main-svg {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-svg>svg {
    transform: scale(1.3);
}

.navbar {
    width: 100vw;
    height: 20vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    flex: 1;
    /* background-color: blue; */
    font-size: 2rem;
    font-weight: 900;
    margin: 0% 1%;
}

.navbar_list {
    flex: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    /* justify-content: space-evenly; */
}

.How_it_works {
    /* background-color:red ; */
    margin: 0% 2%;
}

.About {
    /* background-color:blue ; */
    margin: 0% 2%;
}

.contact {
    /* background-color:blueviolet ; */
    margin: 0% 2%;
}

.login {
    flex: 1;
    /* background-color: rgb(196, 241, 255); */
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.login_btn {
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(156, 98, 26); */
    height: 2.2rem;
    width: 5rem;
    line-height: 2.1rem;
    text-align: center;
    border-radius: 10px;
}


/* main 2 view */

.main2 {
    width: 100vw;
    height: 100vh;
    /* background-color: #b30000; */
    display: flex;
}

#main2_id {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.m2_left {
    width: 40%;
    height: 100%;
    /* background-color: #00b31e; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.tiltedwraper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.6s ease-out;
    perspective: 1000px;
}

.tiltedwraper:hover {
    transition: all 0.3s linear;
    transform: scale(1.1);
}

.tilt-box {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.6s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    transform-style: preserve-3d;
}

.t-hover {
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
}

.t-hover:nth-child(1) {
    left: 0;
    top: 0;
}

.t-hover:nth-child(2) {
    left: 33.333%;
    top: 0;
}

.t-hover:nth-child(3) {
    left: 66.666%;
    top: 0;
}

.t-hover:nth-child(4) {
    left: 0;
    top: 33.333%;
}

.t-hover:nth-child(5) {
    left: 33.333%;
    top: 33.333%;
}

.t-hover:nth-child(6) {
    left: 66.666%;
    top: 33.333%;
}

.t-hover:nth-child(7) {
    left: 0;
    top: 66.666%;
}

.t-hover:nth-child(8) {
    left: 33.333%;
    top: 66.666%;
}

.t-hover:nth-child(9) {
    left: 66.666%;
    top: 66.666%;
}

.t-hover:nth-child(1):hover~.tilt-box {
    transform: rotateX(-20deg) rotateY(20deg)
}

.t-hover:nth-child(2):hover~.tilt-box {
    transform: rotateX(-20deg) rotateY(0deg)
}

.t-hover:nth-child(3):hover~.tilt-box {
    transform: rotateX(-20deg) rotateY(-20deg)
}

.t-hover:nth-child(4):hover~.tilt-box {
    transform: rotateX(0deg) rotateY(20deg)
}

.t-hover:nth-child(5):hover~.tilt-box {
    transform: rotateX(0deg) rotateY(0deg)
}

.t-hover:nth-child(6):hover~.tilt-box {
    transform: rotateX(0deg) rotateY(-20deg)
}

.t-hover:nth-child(7):hover~.tilt-box {
    transform: rotateX(20deg) rotateY(20deg)
}

.t-hover:nth-child(8):hover~.tilt-box {
    transform: rotateX(20deg) rotateY(0deg)
}

.t-hover:nth-child(9):hover~.tilt-box {
    transform: rotateX(20deg) rotateY(-20deg)
}

.m2_right {
    width: 60%;
    height: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    /* background-color: #1200b3; */
}

footer {
    width: 100vw;
    height: 30rem;
    /* background-color: aqua */
}

footer>svg {
    transform: translate(0px, 20px);
    /* transform: scaleX(1.1); */
}

.filler_footer {
    /* width: ; */
    height: 15.5rem;
    background: #0099ff;
}