.m3-steps {
    height: 100vh;
    width: 100vw;
}

.m3-step1 {
    background-color: red;
}

.m3-step2 {
    /* transform: translateX(300px); */
    animation: temp1 1s forwards ease;
    opacity: 0;
    transform: translate(-500px, 0px);
    background-color: yellow;
}

.m3-step3 {
    background-color: orange;
}

.m3-step4 {
    background-color: cyan;
}

.m3-step5 {
    background-color: lightgrey;
}

.m3-step6 {
    background-color: plum;
}

.m3-step7 {
    background-color: lightgreen;
}

.ani {
    animation: temp1 1s forwards ease;
}

@keyframes temp1 {
    0% {
        opacity: 0;
        transform: translate(-500px, 0px);
    }
    90% {
        opacity: 0.9;
        transform: translate(50px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}