.main3 {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
}

.all-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m3-left {
    flex: 60;
}

.m3-line {
    background-color: rgb(230, 173, 173);
    flex: 1;
}

.m3-right {
    flex: 60;
}

.m3-steps {
    font-size: 1.2rem;
    height: 100vh;
    width: 100%;
}


/* .m3-step1 {
    background-color: red;
}

.m3-step2 {
    background-color: yellow;
}

.m3-step3 {
    background-color: orange;
}

.m3-step4 {
    background-color: cyan;
}

.m3-step5 {
    background-color: lightgrey;
}

.m3-step6 {
    background-color: plum;
}

.m3-step7 {
    background-color: lightgreen;
} */

.s-content {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    max-width: 400px;
}

.s-svg {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    max-width: 200px;
}

.ani-l {
    animation: slide-in-description-l 0.5s forwards ease;
}

.ani-r {
    animation: slide-in-description-r 0.5s forwards ease;
    transform: translate(500px, 0px);
}

.ani-svg {
    animation: slide-in-svg 0.5s forwards ease;
}

.ani-svg-r {
    animation: slide-in-svg reverse 0.5s forwards ease;
}

@keyframes slide-in-description-l {
    0% {
        opacity: 0;
        transform: translate(-500px, 0px);
    }
    90% {
        opacity: 0.9;
        transform: translate(50px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes slide-in-description-r {
    0% {
        opacity: 0;
        transform: translate(500px, 0px);
    }
    90% {
        opacity: 0.9;
        transform: translate(-50px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes slide-in-svg {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    90% {
        opacity: 0.9;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}