body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    height: 80vh;
}

.heading {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.head-main {
    font-size: 3rem;
}

.tagline {
    font-size: 1.5rem;
}

.main-svg {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}