/* @import url("https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap"); */

* {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

body {
    /* background-color: steelblue; */
    color: #0099ff;
    font-family: "Muli", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container-parent {
    position: relative;
    /* margin-top: 3rem; */
    max-width: 50rem;
    /* max-height: 30rem; */
    height: 75vh;
    min-height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    padding: 1%;
    margin: 10px;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* margin-bottom: 10rem; */
}

.svgDiv {
    /* width: 25rem;
    height: 30rem; */
    z-index: -5;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translateX(1); */
}

.svgDiv>svg {
    padding-right: 5px;
    /* transform: scale(2.1); */
    width: 100%;
    height: 100%;
}

.container {
    /* width: 50%;
  height: 30%; */
    flex: 1;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 40px;
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

input {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.1);
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: #0099ff;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #ffffff;
    padding: 15px;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    color: #0099ff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
    color: rgba(36, 35, 35, 0.76);
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    /* background-color: transparent; */
    border: 0;
    border-bottom: 2px solid #0099ff;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #0099ff;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: #0099ff
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: #0099ff;
    transform: translateY(-30px);
}

.footer-wave {
    /* transform: scale(2); */
    /* transform: translate(10px,1rem); */
    bottom: -0.9%;
    z-index: -6;
    position: absolute;
    /* height: 30rem; */
    transform: scaleX(10);
    /* transform: translate(0px,0px); */
    /* transform: scaleY(5); */
}

@media screen and (max-width: 600px) {
    .svgDiv {
        position: absolute;
        z-index: -1;
        width: 75%;
    }
    .container {
        width: 90vw;
        padding: 5vw;
    }
    .form-control {
        width: 100%;
    }
    .form-control>input {
        width: 100%;
    }
}